h1 {
    background-color: rgb(216, 83, 83);
    color: rgb(75, 43, 43);
    padding: 15px;
    text-align: center;
}

h2 {
    background-color: pink;
    color: whitesmoke;
    padding: 10px;
    margin: 10px
}

#klee {
    border-radius: 5%;
    width: 100%;
    height: auto;
    display: block;
}